* navigate list of coffee recipes
* choose coffee recipe
* cancel coffee recipe choice


* create coffee recipe
* specify coffee recipe properties
* save coffee recipe
* cancel coffee recipe creation


* create coffee recipe from copy
* cancel coffee recipe creation from copy


* delete coffee recipe
* cancel coffee recipe deletion


* modify coffee recipe
* cancel coffee recipe modification


* modify coffee recipe position in list


* create coffee recipe on-the-fly
* update specifiable ingredients amount
* cancel coffee recipe on-the-fly creation


* modify coffee recipe on-the-fly
* update specifiable ingredients amount
* cancel coffee recipe on-the-fly modification


* order cup of coffee
* order multiple cups of coffee
* cancel cup of coffee order
* cancel multiple cups of coffee order
* order certain amount cups of coffee due to insufficient ingredients
* create cup of coffee order item
* assign a color to a cup of coffee order item


* order cup of coffee based on a recently made or favorite order
* order multiple cups of coffee based on a recently made or favorite order
* specify favorite property of order


* put cup onto tray 
* assign tray fragment to cup
* temporarily show color of cup's assigned tray fragment
* disable 'put cup onto tray'
* enable 'put cup onto tray'
* disable 'start brewing process'


* navigate list of order items
* choose order item
* cancel order item choice
* delete order item
* increase amount of cups
* decrease amount of cups
* disable 'navigate list of order items'
* disable 'increase amount of cups'


* start brewing process
* show brewing process progress
* notify brewing process end
* cancel brewing process
* show confirmation 'cancel or continue brewing process'
* pause brewing process
* continue brewing process


* start maintenance process
* show maintenance process progress
* notify maintenance process end
* cancel maintenance process
* show confirmation 'cancel or continue maintenance process'
* pause maintenance process
* continue maintenance process


* notify tray not available on coffee machine
* notify only one empty cup left on the tray
* notify insufficient empty cups on the tray to fulfill a single cup of coffee order
* notify insufficient empty cups on the tray to fulfill a multiple cups of coffee order
* notify insufficient ingredients to fulfill a single cup of coffee order
* notify insufficient ingredients to fulfill a multiple cups of coffee order
* notify maintenance status dirty
* notify insufficient empty cups on the tray to conduct maintenance process